In [1]:
{'Hello','Awais','Gender','Male'}

{'Awais', 'Gender', 'Hello', 'Male'}

In [3]:
#Create:
D={}
D

{}

In [6]:
type(D)

dict

In [17]:
D1={'Name':'Awais','Gender':'Male'}
D1

{'Name': 'Awais', 'Gender': 'Male'}

In [8]:
D2={[1,2,3]:'Hello'}
D2

TypeError: unhashable type: 'list'

In [10]:
D3={(1,2,3):'Hello'}
D3

{(1, 2, 3): 'Hello'}

In [11]:
D4={'Name':'Awais','Name':'Anas'}
D4
#key->immutable,value can be mutable.

{'Name': 'Anas'}

In [20]:
#2D dictionary:
D5={'Name':'Awais','Marks':{'M1':10,'DS':40}}
D5

{'Name': 'Awais', 'Marks': {'M1': 10, 'DS': 40}}

In [14]:
#access:
D1

{'Awais', 'Gender', 'Hello', 'Male'}

In [18]:

D1['Name']

'Awais'

In [19]:
D1[0]
#use keys for access items not numbers:

KeyError: 0

In [21]:
#Accessing in 2D dictionary:
D5

{'Name': 'Awais', 'Marks': {'M1': 10, 'DS': 40}}

In [22]:
D5['Marks']['M1']

10

In [23]:
#Edit:
D1

{'Name': 'Awais', 'Gender': 'Male'}

In [25]:
D1['Name']='Aslam'
D1

{'Name': 'Aslam', 'Gender': 'Male'}

In [27]:
D5['Marks']["M1"]=20
D5

{'Name': 'Awais', 'Marks': {'M1': 20, 'DS': 40}}

In [28]:
# Adding new key value pairs:
D1

{'Name': 'Aslam', 'Gender': 'Male'}

In [35]:
D1['Age']=21
D1

{'Name': 'Aslam', 'Gender': 'Male', 'Age': 21}

In [37]:
#addition in 2D dictionary:
D5['Marks']['M2']=11
D5

{'Name': 'Awais', 'Marks': {'M1': 20, 'DS': 40, 'M2': 11}}

In [39]:
#How to Delete:
del D
D

NameError: name 'D' is not defined

In [40]:
D1

{'Name': 'Aslam', 'Gender': 'Male', 'Age': 21}

In [41]:
del D1['Gender']
D1

{'Name': 'Aslam', 'Age': 21}

In [42]:
#How to empty the dictionary:
D1.clear()
D1

{}

In [45]:
#Operations:
D={1,2,3}
D

{1, 2, 3}

In [46]:
D1={4,5,6}
D1

{4, 5, 6}

In [48]:
D2={7,8,9}
D2

{7, 8, 9}

In [49]:
D+D1
#just like sets there's no concatination & multiplication in Dictionary..

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [58]:
# Looping:
D4={'Name':'Awais','Gender':'Male','Age':21}
for i in D4:
    print(i)
    #you will get only the keys not values.

Name
Gender
Age

In [59]:
# If you want values than:
for i in D4:
    print(i,D4[i])

Name Awais
Gender Male
Age 21

In [60]:
#Membership operator:
'Awais' in D4
#when we apply membership operator they will always check keys not values.

False

In [61]:
'Name' in D4

True

In [62]:
#Functions:
len(D4)
#This will gives a number of keys..

3

In [63]:
min(D4)

'Age'

In [64]:
max(D4)

'Name'

In [65]:
sorted(D4)

['Age', 'Gender', 'Name']

In [66]:
sorted(D4,reverse=True)

['Name', 'Gender', 'Age']

In [67]:
#if you wants keys:
D4.keys()

dict_keys(['Name', 'Gender', 'Age'])

In [68]:
#if you wants values:
D4.values()

dict_values(['Awais', 'Male', 21])